*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #01010D;
}

* > ::-moz-selection {
  background: #8000F3;
  color: white;
}

* > ::selection {
  background: #8000F3;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-family: "open-sans";
}

section {
  margin-bottom: 120px;
}
@media (max-width: 1340px) {
  section {
    margin-bottom: 100px;
  }
}

.container {
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(30px, 1fr) 1280px minmax(30px, 1fr);
}
@media (max-width: 1340px) {
  .container {
    grid-template-columns: minmax(20px, 1fr) minmax(960px, 1fr) minmax(20px, 1fr);
  }
}
@media (max-width: 1000px) {
  .container {
    grid-template-columns: minmax(20px, 1fr) minmax(728px, 1fr) minmax(20px, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 20px minmax(440px, 1fr) 20px;
  }
}
@media (max-width: 480px) {
  .container {
    grid-template-columns: 20px minmax(320px, 1fr) 20px;
  }
}

header, main, footer {
  grid-column: 2/3;
}

@font-face {
  font-family: "caveat";
  src: local("Caveat");
  src: url(../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: "Cormorant-Infant";
  src: local("Cormorant Infant");
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
}
@font-face {
  font-family: "open-sans";
  src: local("Open sans");
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "SS4";
  src: local("Source Serif 4");
  src: url(../fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz,wght.ttf);
}
/* h1 */
.main-title {
  color: #F2C995;
  font-family: "SS4", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 105.523%;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 34px;
  }
}

.second-title {
  color: #F2C995;
  display: inline-block;
  text-align: center;
  font-family: "Cormorant-Infant";
  font-size: 40px;
  font-weight: 400;
  line-height: 105.1%;
  text-transform: uppercase;
  margin-bottom: 70px;
  padding-left: 140px;
  padding-right: 140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 480px) {
  .second-title {
    font-size: 28px;
    margin-bottom: 60px;
  }
}
.second-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient, linear-gradient(90deg, rgba(242, 201, 149, 0) 0%, #F2C995 29.69%, #FFF 54.69%, #F2C995 73.44%, rgba(242, 201, 149, 0) 100%));
}

.second-title__wrapper {
  display: flex;
  justify-content: center;
}

.second-title_top-line {
  padding-top: 30px;
  border-top: 1px solid rgba(242, 201, 149, 0);
}

.quotation-text {
  font-family: "caveat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.paragraph-text {
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
@media (max-width: 768px) {
  .paragraph-text {
    font-size: 16px;
  }
}

.paragraph-text_bold {
  font-weight: 700;
}

.title-text {
  color: #F2C995;
  font-family: "open-sans";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.text-details {
  color: rgba(255, 255, 255, 0.7);
  font-family: "open-sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quotation-wrapper {
  position: relative;
  padding-bottom: 5px;
}
.quotation-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: var(--gradient, linear-gradient(90deg, rgba(242, 201, 149, 0) 0%, #F2C995 29.69%, #FFF 54.69%, #F2C995 73.44%, rgba(242, 201, 149, 0) 100%));
}
.quotation-wrapper__quot {
  position: absolute;
  top: -15px;
  left: -15px;
}

.cards-box {
  display: grid;
  grid-template-columns: repeat(8, minmax(80px, 1fr));
  grid-template-rows: min-content min-content;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 1340px) {
  .cards-box {
    margin-bottom: 30px;
    gap: 20px;
  }
}
.cards-box__card {
  grid-column: span 2;
}
.cards-box__card:nth-child(5) {
  grid-column: 2/span 2;
}
.cards-box__img {
  width: 100%;
}
@media (max-width: 1340px) {
  .cards-box .img_small {
    width: 80%;
  }
}
.cards-box__descr {
  padding: 40px 20px;
  position: relative;
}
@media (max-width: 1340px) {
  .cards-box__descr {
    padding: 20px 15px;
  }
}

.service-card__spot {
  position: absolute;
  z-index: -1;
}
.service-card__title {
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 1340px) {
  .service-card__title {
    margin-bottom: 15px;
  }
}
.service-card .spot_top {
  top: -5px;
  left: 0;
}
.service-card .spot_bottom {
  bottom: 0;
  right: 0;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1340px) {
  .services-list {
    gap: 8px;
  }
}
.services-list__item {
  text-align: center;
  line-height: normal;
}

.services-wrapper__man-and-kids {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* man */
}

.men {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 267px));
  gap: 30px;
  /* left */
  /* right */
}
@media (max-width: 1340px) {
  .men {
    gap: 20px;
  }
}
.men__img {
  width: 100%;
}
.men__btn-wrapper {
  margin-bottom: 60px;
}
.men__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* kids */
.kids {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 267px));
  gap: 30px;
}
@media (max-width: 1340px) {
  .kids {
    gap: 20px;
  }
}
.kids .spot_top {
  visibility: hidden;
}
.kids__img {
  width: 100%;
}
.kids__girl-wrapper {
  display: flex;
  align-items: center;
}

.advantage-card {
  padding: 30px 30px;
  grid-column: span 2;
  border-radius: 0px 13px 0px 0px;
  border-top: 1px solid #F2C995;
  position: relative;
  margin-left: 15px;
}
@media (max-width: 1000px) {
  .advantage-card {
    padding: 20px 20px;
    grid-column: span 3;
    width: 80%;
  }
  .advantage-card:nth-child(3) {
    grid-column: 3/span 3;
  }
}
@media (max-width: 480px) {
  .advantage-card {
    grid-column: 1/-1;
  }
}
.advantage-card::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0.5px;
}
.advantage-card__circle {
  position: absolute;
  left: 0;
  top: -1.8px;
  transform: translateX(-50%);
}
.advantage-card__spot {
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0;
}
.advantage-card__title {
  margin-bottom: 20px;
}
@media (max-width: 1340px) {
  .advantage-card__title {
    margin-bottom: 13px;
  }
}
.advantage-card__decr {
  line-height: normal;
  font-weight: 400;
}

.button {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 15px;
  padding: 15px 40px;
  border-radius: 13px;
  border: 1px solid transparent;
  background: rgba(69, 3, 148, 0);
  transition: all 0.5s;
}
.button::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid transparent;
  border-image-source: var(--gradient, linear-gradient(180deg, #F2C995 0%, #F2C995 29.69%, #FFF 54.69%, #F2C995 73.44%, #F2C995 100%));
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-radius: 13px;
  pointer-events: none;
}
.button .whatsup-icon {
  height: 16px;
}
.button_none-border {
  border: none;
  padding-top: 5px;
}
.button_none-border::before {
  border: none;
}
.button_visit-gallery {
  padding-left: 0;
  padding-right: 5px;
}
.button:hover {
  transform: scale(1.05);
}

.button-text {
  font-family: "SS4";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(180deg, #F2C995 0%, #F2C995 29.69%, white 54.69%, #F2C995 73.44%, #F2C995 100%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.button-text_bezh {
  color: #F2C995;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  height: 80px;
}
.header-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: var(--gradient, linear-gradient(90deg, rgba(242, 201, 149, 0) 0%, #F2C995 29.69%, #FFF 54.69%, #F2C995 73.44%, rgba(242, 201, 149, 0) 100%));
}

.nav {
  padding: 15px 50px;
  position: relative;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 20px;
  /* burger */
}
.nav-list__item {
  font-family: "SS4";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
}
.nav-list__item a {
  color: white;
  transition: all 0.5s;
}
.nav-list__item a:hover {
  color: #F2C995;
}

.burger {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
}

.burger-line {
  width: 40px;
  color: #F2C995;
}

.burger-rotate {
  display: block;
}

.burger-rotate .toggle-1 {
  transition: 0.4s all;
  transform: rotate(45deg);
  position: absolute;
  right: -3px;
  top: 40px;
}

.burger-rotate .toggle-2 {
  transition: 0.4s all;
  transform: rotate(-45deg);
  position: absolute;
  right: -3px;
  top: 40px;
  margin: 0;
}

.burger-rotate .burger-line-middle {
  transition: 0.4s all;
  background-color: black;
  display: none;
}

@media (max-width: 1000px) {
  .nav-hidden {
    transition: 0.5s all;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: rgba(20, 20, 20, 0.5);
  }
  .burger-menu {
    transition: 0.5s all;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -20px;
    top: 0;
    z-index: 2;
    background-color: rgba(20, 20, 20, 0.5);
  }
  .nav-list {
    padding: 100px 100px 200px;
    position: absolute;
    right: 0;
    top: 0;
    background: #01010D;
    grid-template-columns: 150px;
    z-index: 5;
    justify-content: end;
  }
}
.footer-contant-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.footer {
  padding-bottom: 40px;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient, linear-gradient(90deg, rgba(242, 201, 149, 0) 0%, #F2C995 29.69%, #FFF 54.69%, #F2C995 73.44%, rgba(242, 201, 149, 0) 100%));
}
.footer .links {
  width: 70%;
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr max-content;
  align-items: start;
}
@media (max-width: 1340px) {
  .footer .links {
    width: 63%;
  }
}
.footer .links-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  justify-content: space-around;
}
.footer .links-list__item {
  font-family: "SS4";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
}
.footer .links-list__item a {
  color: white;
  transition: all 0.5s;
}
.footer .links-list__item a:hover {
  color: #F2C995;
}

.footer__must-have-detailes {
  display: flex;
  justify-content: space-around;
}

/* main screen */
.main-screen {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 80vh;
}
@media (max-width: 1340px) {
  .main-screen {
    grid-template-columns: 33% 66%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .main-screen {
    grid-template-rows: max-content;
  }
}
@media (max-width: 480px) {
  .main-screen {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content min-content;
  }
}
.main-screen__main-wrapper {
  padding-top: 70px;
}
@media (max-width: 1340px) {
  .main-screen__main-wrapper {
    width: 150%;
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .main-screen__main-wrapper {
    width: 130%;
  }
}
@media (max-width: 480px) {
  .main-screen__main-wrapper {
    grid-column: 1/-1;
    width: 100%;
  }
}
.main-screen__main-title {
  margin-bottom: 45px;
}
.main-screen__description {
  width: 80%;
}
@media (max-width: 480px) {
  .main-screen__description {
    width: 60%;
  }
}

.description {
  font-size: 18px;
}

.img-wrapper {
  position: relative;
}
@media (max-width: 480px) {
  .img-wrapper {
    grid-column: 3/-1;
  }
}
.img-wrapper__hairdresser {
  width: 100%;
}
.img-wrapper__quotation-wrapper {
  position: absolute;
  top: 70%;
  left: -10%;
}
@media (max-width: 768px) {
  .img-wrapper__quotation-wrapper {
    top: 80%;
  }
}

/* curly */
.curly-method__about {
  margin: 0 auto;
  position: relative;
  width: 620px;
  margin-bottom: 60px;
}
.curly-method__points {
  position: relative;
}
.curly-method .about__title {
  margin-bottom: 20px;
}
.curly-method .about .spot {
  position: absolute;
  top: -35px;
  left: -27px;
}
.curly-method__contant-wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: 0 auto;
  gap: 60px;
  justify-content: center;
}
@media (max-width: 1340px) {
  .curly-method__contant-wrapper {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .curly-method__contant-wrapper {
    width: 100%;
  }
}
.curly-method__img {
  width: 100%;
}

/* list */
.points .spot {
  position: absolute;
  bottom: 120px;
  right: 0;
}
.points__title {
  margin-bottom: 20px;
  margin-top: 50px;
}
.points__list {
  margin-bottom: 50px;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.points__item {
  background: url(../icons/check.png) no-repeat;
  padding-left: 24px;
  padding-top: -1px;
}

.curly-card__button-wrapper {
  display: inline-block;
  /* advantages */
}

.my-advantages__contant-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}
@media (max-width: 1340px) {
  .my-advantages__contant-wrapper {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .my-advantages__contant-wrapper {
    margin-bottom: 50px;
    justify-items: center;
    width: 90%;
  }
}
@media (max-width: 1000px) and (max-width: 480px) {
  .my-advantages__contant-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.advantage-card:first-child, .advantage-card:last-child {
  transform: translateY(40px);
}
@media (max-width: 1000px) {
  .advantage-card:first-child, .advantage-card:last-child {
    transform: translateY(0px);
  }
}

@media (max-width: 1000px) {
  .advantage-card:last-child {
    transform: translateX(-10%);
  }
}
@media (max-width: 1000px) and (max-width: 480px) {
  .advantage-card:last-child {
    transform: translateX(0);
  }
}

.img-box {
  display: grid;
  grid-template-columns: max-content 300px;
  justify-content: center;
  gap: 30px;
  transform: translateX(-80px);
}
@media (max-width: 1000px) {
  .img-box {
    grid-template-columns: 205px max-content;
    transform: translateX(0);
  }
}
@media (max-width: 1000px) and (max-width: 480px) {
  .img-box {
    justify-content: start;
  }
}
.img-box__quotation-text {
  align-self: end;
}
@media (max-width: 1000px) {
  .img-box__quotation-text {
    order: 2;
  }
}
.img-box__hairdr {
  width: 100%;
  border-radius: 13px;
}

.wrapper__quotation-wrapper {
  position: relative;
  display: inline-block;
}
.wrapper__quotation-wrapper .img-box__quotation-wrapper {
  position: absolute;
  width: 270px;
  left: 90%;
  bottom: 40%;
}

/* contact detailes */
.info {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 60px;
}
.info__button-wrapper {
  margin-bottom: 60px;
  display: inline-block;
}
.info__address {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.info #map {
  border-radius: 13px;
}

.street-list {
  display: flex;
  flex-direction: column;
  padding-left: 38px;
}
.street-list li {
  background: url(../icons/geo.svg) no-repeat;
  padding-left: 24px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "open-sans";
}
.street-list li:not(:last-child) {
  padding-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons__icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */