.header-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 60px
  
.nav
  padding: 15px 60px
/* .line
  stroke-width: 1px
  stroke: rgba(242, 201, 149, 0.00) */
/* .line 
  background: url(../icons/line.svg) cover center no-repeat */
.nav-list
  display: flex
  gap: 20px
  &__item
    font-family: 'SS4'
    font-size: 16px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
    padding: 5px
    a
      color: $white-color
      transition: all .5s
      &:hover
        color: $bezh-color