.cards-box
  display: grid
  grid-template-columns: repeat(8, minmax(80px, 1fr))
  grid-template-rows: min-content min-content
  gap: 30px
  margin-bottom: 50px
  @media (max-width: 1340px)
    margin-bottom: 30px
    gap: 20px
  &__card
    grid-column: span 2
    &:nth-child(5)
      grid-column: 2/ span 2
  &__img
    width: 100%

  @media (max-width: 1340px)
    .img_small
      width: 80%
    .card_second
      //align-content: 

  &__descr
    padding: 40px 20px
    position: relative
    @media (max-width: 1340px)
      padding: 20px 15px


.service-card
  &__spot
    position: absolute
    z-index: -1
  &__title
    margin-bottom: 25px
    text-align: center
    @media (max-width: 1340px)
      margin-bottom: 15px
  .spot_top
    top: -5px
    left: 0
  .spot_bottom
    bottom: 0
    right: 0

.services-list
  display: flex
  flex-direction: column
  gap: 10px
  @media (max-width: 1340px)
    gap: 8px
  &__item
    text-align: center
    line-height: normal

.services-wrapper__man-and-kids
  display: flex
  justify-content: space-between
  gap: 30px

  /* man */
.men
  display: grid
  grid-template-columns: repeat(2, minmax(230px, 267px))
  gap: 30px
  @media (max-width: 1340px)
    gap: 20px
  &__img
    width: 100%
  /* left */
  &__btn-wrapper
    margin-bottom: 60px
  &__wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
  /* right */
  // .cards-box__descr
  //   margin-bottom: 30px

/* kids */
.kids
  display: grid
  grid-template-columns: repeat(2, minmax(230px, 267px))
  gap: 30px
  @media (max-width: 1340px)
    gap: 20px
  .spot_top
    visibility: hidden
  &__img
    width: 100%
  &__girl-wrapper
    display: flex
    align-items: center