*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
    
body
  background: $black-color
  
*> ::selection
  background: #8000F3
  color: $white-color

li 
    list-style: none
a
  text-decoration: none
p 
  color: $white-color
  font-family: 'open-sans'
  
section
  margin-bottom: 120px





.container 
  display: grid
  grid-template-columns: 1fr 1280px 1fr
header, main, footer
  grid-column: 2/3