@font-face 
  font-family: 'caveat'
  src: local('Caveat')
  src: url(../fonts/Caveat/Caveat-Regular.ttf)

@font-face 
  font-family: 'Cormorant-Infant'
  src: local('Cormorant Infant')
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf)

@font-face 
  font-family: 'open-sans'
  src: local('Open sans')
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf)

@font-face 
  font-family: 'SS4'
  src: local('Source Serif 4')
  src: url(../fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz,wght.ttf)
  
/* h1 */
.main-title 
  color: $bezh-color
  font-family: 'SS4', serif
  font-size: 48px
  font-weight: 400
  line-height: 105.523%
    // @media (max-width: 1281px) 
    //     font-size: 5.4rem
    // @media (max-width: 1000px) 
    //     font-size: 4.8rem
    // @media (max-width: 768px) 
    //     font-size: 3rem

.second-title
  color: $bezh-color
  text-align: center
  font-family: 'Cormorant-Infant'
  font-size: 40px
  font-weight: 400
  line-height: 105.1% 
  text-transform: uppercase
  margin-bottom: 70px

.second-title_top-line
  padding-top: 30px
  border-top: 1px solid rgba(242, 201, 149, 0.00)

.quotation-text
  font-family: 'caveat'
  font-size: 24px
  font-style: normal
  font-weight: 400
  line-height: 120%

.paragraph-text
  font-family: 'open-sans', sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 150%