/* main screen */
.main-screen
  display: grid
  grid-template-columns: .4fr .6fr
  grid-template-rows: 80vh
  gap: 30px
  &__main-wrapper
    padding-top: 70px
  &__main-title
    margin-bottom: 45px
  &__description
    width: 80%
.description
  font-size: 18px

.img-wrapper
  position: relative
  &__hairdresser
    width: 100%
  &__quotation-wrapper
    position: absolute
    top: 70%
    left: -10%

// <!-- my-services -->

  /* advantages */
.my-advantages__contant-wrapper
  display: flex
  gap: 30px
  margin-bottom: 70px

.advantage-card:first-child, .advantage-card:last-child
    transform: translateY(40px)
    
.img-box
  display: grid
  grid-template-columns: max-content 300px
  justify-content: center
  gap: 30px
  transform: translateX(-80px)
  &__quotation-text
    align-self: end

  &__hairdr
    width: 100%
    border-radius: 13px

.wrapper__quotation-wrapper
  position: relative
  display: inline-block
  .img-box__quotation-wrapper
    position: absolute
    width: 270px
    left: 90%
    bottom: 40%




/* contact detailes */
.info
  display: grid
  grid-template-columns: .4fr .6fr
  gap: 60px
  &__button-wrapper
    margin-bottom: 60px
  &__address
    display: flex
    flex-direction: column
    gap: 25px
  #map
    border-radius: 13px

.street-list
  display: flex
  flex-direction: column
  padding-left: 38px
  li
    background: url(../icons/geo.svg) no-repeat
    padding-left: 24px
    color: $white-color
    font-size: 18px
    font-weight: 400
    font-family: 'open-sans'
    &:not(:last-child)
      padding-bottom: 10px
.social-icons
  display: flex
  gap: 20px
  &__icon
    cursor: pointer
    width: 20px
    height: 20px
      
